@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --color-1: #0b0d17;
  --color-2: #d0d6f9;
  --color-3: #ffffff;
  --color-3-hover: rgba(255, 255, 255, 0.5);
  --color-3-shadow: rgba(255, 255, 255, 0.25);

  // fonts
  --font-family-heading: 'Bellefair', serif;
  --font-family-text: 'Barlow Condensed', sans-serif;
  --font-size: 16px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-1);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--color-3);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;

  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-family-text);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1440px;
  max-height: 900px;
  margin: 0 auto;
}