@import './base.scss';
@import '@/assets/scss/responsive.scss';

a {
    color: var(--color-3);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
}

h1 {
    font-size: 150px;
    line-height: 172px;
}

h2 {
    font-size: 100px;
    line-height: 115px;

    @media #{$tabletMedium} {
        font-size: 80px;
        line-height: 92px;
    }
}

h3 {
    font-size: 56px;
    line-height: 64px;

    @media #{$tabletLandscape} {
        font-size: 40px;
        line-height: 46px;
    }

    @media #{$mobileDownScreen} {
        font-size: 24px;
        line-height: 28px;
    }
}


h4 {
    font-size: 32px;
    line-height: 37px;
    color: var(--color-3);
    mix-blend-mode: normal;
    opacity: 0.5;

    @media #{$tabletLandscape} {
        font-size: 24px;
        line-height: 27.5px;
    }

    @media #{$mobileDownScreen} {
        font-size: 16px;
        line-height: 18px;
    }
}

h5 {
    line-height: 34px;
    letter-spacing: 4.75px;
    font-size: 28px;
    text-transform: uppercase;

    @media #{$tabletPortrait} {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }

    @media #{$mobileDownScreen} {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        text-align: center;
        margin-bottom: 32px !important;
    }

    span {
        mix-blend-mode: normal;
        opacity: 0.25;
        margin-right: 24px;
    }
}

p {
    letter-spacing: 1.3px;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-2);

    @media #{$tabletPortrait} {
        line-height: 28px;
        font-size: initial;
    }

    @media #{$mobileDownScreen} {
        font-size: 15px;
        line-height: 25px;
        width: 327px !important;
        margin: auto;
    }
}

hr {
    background: var(--color-3);
    border: 1px solid var(--color-3);
    mix-blend-mode: normal;
    opacity: 0.25;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}